:css
  .demo-card-wide.mdl-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .buyuk{
    width: 1000px !important;
  }
  .ortala{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: #3f51b4

  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .bosluk{
    margin-top: 60px;
  }
.demo-card-wide.mdl-card.mdl-shadow--2dp.buyuk
  .mdl-card__title
    %h2.mdl-card__title-text Dersler
  .mdl-card__supporting-text
    %div
      %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th Ders
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
        %tbody
          - @inspections.each_pair do |name, val|
            %tr
              %td
              %td
              %td
              %td
              %td= Lesson.find(name).adi
              %td
              %td
              %td
              %td
              %td
              %td
              %td= link_to 'Görüntüle', inspection_path(name)
              %td
              %td
              %td
              %td
      %br
